@import '../../../sass/_variables';
@import '../../../sass/_mixins';

.summary-container {
    min-width: 60vw;
    min-height: 80vh;

    .title-summary {
        font-weight: 700;
        font-size: 2.5rem;
    }

    thead {
        @include text(1.5rem, 400, capitalize);
        color: $additional-color;
        text-align: center;
    }

    tbody {

        td,
        th {
            font-size: 1.2rem;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .summary-item-photo {
            max-width: 10vw;
            max-height: 10vh;
        }
    }

    .summary-functions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
            font-size: 1.5rem;
            margin-bottom: 1%;
        }

        button {
            @include text(1rem, 600, uppercase);
            width: 200px;
            height: 50px;

            letter-spacing: 1px;
            color: #fff;
            opacity: 0.5;

            outline: none;
            cursor: not-allowed;
            background-color: #ffa502;
            border: none;
            border-radius: 3px;
        }
    }
}

/* Media */
@media (max-width: 960px) {
    .summary-container {
        padding: 8% 0;

        .title-summary {
            font-size: 1.5rem;
        }

        thead {
            font-size: 1rem;
        }

        .summary-functions {
            align-items: center;

            span {
                font-size: 1.2rem;
                margin: 5% 0;
            }

            button {
                width: 180px;
                margin-bottom: 5%;
                font-size: 0.8rem;
            }
        }
    }
}