.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 2% 0;	
	.first-paragraph,
	.second-paragraph {
		text-transform: uppercase;
	}
	.first-paragraph {
		color: #333;
		font-size: 3rem;
	}

	.second-paragraph {
		color: #555454;
		font-size: 2rem;
	}
}