@import '../../sass/_mixins';

.products-wrapper {
    @include width(80%, 80%);

    display: flex;
    justify-content: flex-start;

    margin: 2% 0;
}

/* Media */
@media (max-width: 960px) {
    .products-wrapper {
        @include width(90%, 90%);
    }
}