@import '../../sass/_variables';
@import '../../sass/_mixins';

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 90vh;
    
    .title {
        @include text(3.5rem, 500, capitalize);

        margin: 6vh 0;

        letter-spacing: 3px;
        color: #6c707a;
    }

    .subtitle {
        color: $additional-color;
        text-transform: uppercase;
        text-shadow: 0 0 0.2vh #ffb682;
    }
}

/* Carousel */
.container-fluid {
    display: flex;
    justify-content: center;

    .slide {

        img {
            min-width: 800px;
            max-height: 400px;
        }
    }
    
    ol li {
        width: 20px;
        height: 20px;

        margin: 0 10px;
        
        opacity: 0.8;
        border-radius: 50%;
        border: 2px solid #2f3542;

    }

    ol .active {
        background-color: $additional-color;
    }

    .carousel-control-next, .carousel-control-prev, ol li {
        cursor: pointer;
    }
}

/* About Us */
.container {
    margin-top: 10vh;

    .info-title {
        @include text(2.5rem, 300, uppercase);
        
        text-align: center;
        letter-spacing: 0.2em;
        
        color: $additional-color;
        text-shadow: 0 0 0.5vh #ffb682;
    }

    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .icon, h2, p {
            color: #2f3542;
            margin-top: 2vh;
        }

        .icon {
            font-size: 4rem;
            opacity: 0.7;
        }

        h2 {
            @include text(1.2rem, 500, uppercase);
        }

        p {
            max-width: 60%;
            min-height: 150px;
            
            margin-top: 2vh;
            
            font-weight: 300;
            text-align: center;
            opacity: 0.8;
        }

    }
}

/* Media */
@media (max-width: 960px) {
    
    .home-container {

        .title, .subtitle {
            font-size: 2.5rem;
            text-align: center;
        }
    }
    
    /* Carousel */
    .container-fluid {
        .slide {
            img {
                @include width(80vw, 80vw);
                @include height(30vh, 30vh);
            }
        }
    }

    /* About Us */
    .container {
        margin-top: 5vh;

        .info-title {
            font-size: 2rem;
        }

        .offer {

            p {
                min-height: 70px;
            }

        }
    }
}