@import '../../sass/_variables';
@import '../../sass/_mixins';

.contact-container {
    @include width(55vw, 50vw);
    @include spacing(10% 0, 2% auto);

    display: flex;
    justify-content: center;
    
    min-height: 60vh;
    background-color: $box-background;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #e2e2e2;
    
    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        margin: 10% 0%;
        line-height: 10px;
        
        .contact-title {
            margin-bottom: 8%;
            
            font-weight: 700;
            text-transform: uppercase;
            color: #6c707a;
        }

        .line {
            height: 3px;
            width: 200px;
            
            margin: 0 0 20% 0;

            border: none;
            background-color: $additional-color;
        }

        .contact-paragraph {
            opacity: 0.7;
        }
    }

    .localization {
        margin: 6% 0;
        
        img {
            max-width: 40vw;
            max-height: 45vh;
        }
    }
}

/* Media */
@media (max-width: 960px) { 
    .contact-container {
   		@include width(85vw, 80vw);
   
        .contact-details {
            align-items: center;
        }

        .localization {
            text-align: center;
            
            img {
                max-width: 60vw;
            }
        }
    }
}