@import '../../sass/_variables';
@import '../../sass/_mixins';

.navbar {
    background-color: #2f3542;

    .navbar-brand {
        @include text(1.5rem, 500, uppercase);

        letter-spacing: 3px;
        outline: none;
        color: $additional-color;
    }

    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        
        .nav-link {
            margin: 15px;
            
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 6.4px;
            
            .active {
                opacity: 1;
                color: $additional-color;
            }

            a {
                padding: 30px 0;
                
                outline: none;
                opacity: 0.5;
                color: #fff;

                &:hover {
                    opacity: 1;
                    color: $additional-color;
                    text-decoration: none;
                }
            }

            .icon {
                font-size: 1.5rem;
            }
        }
    }
}

/* Media */
@media (max-width: 960px) {
    .navbar {
        text-align: center;
        
        .container-fluid {
            justify-content: center;
                
            .navbar-brand {
                justify-content: center;
                margin: 0;
            }
            
            .navbar-nav {
                margin-top: 15px;
            }
            
            .nav-link {
                min-width: 100vw;
                padding: 5px;
                font-size: 1.3rem;
            }
        }
    }
}